/* developed by i_avyakta */
h1 {
  font-size: 50px;
  font-weight: 900;
  margin-left:30px;
}
#date {
  font-size: 25px;
  font-weight: 900;
  padding: 20px;
  padding-bottom: 10px;
}
body{
zoom: 2.3;
}
#watch {
  font-size: 40px;
  font-weight: 900;
  padding: 20px;
  padding-right: 0px;
}
#millisec {
  font-size: 20px;
  font-weight: 700;
}
.clock{
     background: linear-gradient(#11417c, #f9aa72 90%, #11417c);
    color: #feffd1;
    padding: 10px;
    border-radius: 20px;
    height: 130px;
    width: 300px;
    box-shadow: 1px 1px 20px 10px #ffefe1;
    margin-left: 30px;
}
.githublink{
 font-size: 15px;
    margin-top: -30px;
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    text-decoration: overline;
    color: blue;
    text-transform: capitalize; 
}
/* developed by i_avyakta */
